:root {
    /* text color */
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --text-black: #000;
    --text-white: #fff;
    /* bg color */
    --primary-bg-color: #fff;
    --footer-bg-color: #2F303A;
    --second-bg-color: #F5F4FA;
    /* fonts */
    --primary-fonts-family: 'Roboto', sans-serif;
}

body {
    font-family: var(--primary-fonts-family);
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.list {
    list-style: none;
}

/* Заголовки Главной */


/* Шапка Site NAV */


/* Главный экран HERO */

/* Преимущества "FEATURE" */

/* Услуги SERVICES */

/* Наша команда TEAM */

/* Подвал FOOTER */

/* СТРАНИЦА "ПОРТФОЛИО" */

/* Услуги SERVICES */