:root {
    /* text color */
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    /* --text-black: #000; */
    --logo-text-white: #F4F4FD;
    --text-white: #E7E9FC;
    /* bg color */
    --primary-bg-color: #fff;
    --footer-bg-color: #2E2F42;;
    --second-bg-color: #F4F4FD;
    /* fonts */
    --primary-fonts-family: 'Roboto', sans-serif;
}

body {
    font-family: var(--primary-fonts-family);
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.list {
    list-style: none;
}

/* Заголовки Главной */


/* Шапка Site NAV */


/* Главный экран HERO */

/* Преимущества "FEATURE" */

/* Услуги SERVICES */

/* Наша команда TEAM */

/* Подвал FOOTER */

/* СТРАНИЦА "ПОРТФОЛИО" */

/* Услуги SERVICES */




